<a href="https://colab.research.google.com/github/oneway-net/scientific-python/blob/main/Lecture_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CME 193 - Lecture 6 - Pandas

1. HW 1 is done! Congrats!    (ˊᵒ̴̶̷̤ ꇴ ᵒ̴̶̷̤ˋ)
  - Two free late days (official due at 11:30am on the Friday)
2. HW 2 is Coming Today (Oh no!)    ( ´•︵•` )
  - Be Chill, we got 2 weeks!  ╰（￣▽￣）╭

# Basic Section (Start)

## Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with tabular data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

## Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

## Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

## Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

## Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

## Getting Started

[Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) is a link to the documentation for DataFrames

In [ ]:
import pandas as pd
import numpy as np

## Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |

# Series
## What are they?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- Basic method to create a series: 
```s = pd.Series(data, index = index) ```
- Data Can be many things:
    * An ndarray (or regular Python list)
    * A Python Dictionary
    * A scalar 
- The passed index is a list of axis labels (which varies on what data is)

Think "Series = Vector + labels"

In [ ]:
first_series = pd.Series([1,2,3,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     3
3     8
4    16
5    32
6    64
dtype: int64

In [ ]:
first_series[2]

3

In [ ]:
second_series = pd.Series([1,2,3,8,16,32,64],  index=[2,1,0,3,4,5,6])
print(type(second_series))
print(second_series)

<class 'pandas.core.series.Series'>
2     1
1     2
0     3
3     8
4    16
5    32
6    64
dtype: int64

In [ ]:
second_series[1]

2

In [ ]:
second_series.iloc[2]

3

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

print('-'*50)

print(s.index)
s['e']

a   -0.413661
b   -1.753546
c    0.403480
d   -0.551871
e    1.295596
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

1.2955958238636331

In [ ]:
s['e']

1.2955958238636331

In [ ]:
s.iloc[4]

1.2955958238636331

If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the corresponding keys of the dict

In [ ]:
d = {'a': [0., 0], 2: 2., 'b': {'1':1.}}
pd.Series(d)

a      [0.0, 0]
2           2.0
b    {'1': 1.0}
dtype: object

You can create a series from a scalar, but need to specify indices

In [ ]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

You can slice series like you would numpy arrays/python lists

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a   -1.600194
b   -0.053045
c   -2.696695
d    1.541243
e   -1.690339
dtype: float64

In [ ]:
end_string = '\n' + '-'*50 + '\n'

# slicing
print(s.iloc[:3], end = end_string)

#alternate slicing, unlike all other slicing, including end.
print(s['a':'c'], end = end_string)

a   -1.600194
b   -0.053045
c   -2.696695
dtype: float64
--------------------------------------------------
a   -1.600194
b   -0.053045
c   -2.696695
dtype: float64
--------------------------------------------------

In [ ]:
# conditional indexing
s > 0

a    False
b    False
c    False
d     True
e    False
dtype: bool

In [ ]:
end_string

'\n--------------------------------------------------\n'

In [ ]:
# conditional indexing - index with booleans
print(s[s > 0], end = end_string)

# elementwise function - vectorization
print(np.exp(s), end = end_string)

d    1.541243
dtype: float64
--------------------------------------------------
a    0.201857
b    0.948337
c    0.067428
d    4.670394
e    0.184457
dtype: float64
--------------------------------------------------

### Series Attributes:

- Get the index : 
```python 
s.index ``` 
- Get the values :
``` python 
s.values ``` 
- Find the shape :``` python s.shape ``` 

### Series Iteration

In [ ]:
s

a   -1.600194
b   -0.053045
c   -2.696695
d    1.541243
e   -1.690339
dtype: float64

In [ ]:
for idx,val in s.items():
    print(idx, " -> ", val)
    print("-"*25)

a  ->  -1.6001944792876135
-------------------------
b  ->  -0.0530453794974326
-------------------------
c  ->  -2.6966951881900747
-------------------------
d  ->  1.5412433903334901
-------------------------
e  ->  -1.6903393689411037
-------------------------

Sort by index or by value

In [ ]:
print(s.sort_index(), end = end_string)

print(s.sort_values(), end = end_string)

a   -1.600194
b   -0.053045
c   -2.696695
d    1.541243
e   -1.690339
dtype: float64
--------------------------------------------------
c   -2.696695
e   -1.690339
a   -1.600194
b   -0.053045
d    1.541243
dtype: float64
--------------------------------------------------

Find counts of unique values

In [ ]:
s = pd.Series([0,0,0,1,1,1,2,2,2,2])
sct = s.value_counts()
print(s, end = end_string)
print(sct)

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    2
dtype: int64
--------------------------------------------------
2    4
0    3
1    3
dtype: int64

In [ ]:
# Small Hack for Counter
from collections import Counter
Counter([0,0,0,1,1,1,2,2,2,2,3,2,3,3,3,])

Counter({0: 3, 1: 3, 2: 5, 3: 4})

You can do just about anything you can do with a numpy array

- Series.mean()
- Series.median()
- Series.mode()
- Series.nsmallest(num)
- Series.max ...

In [ ]:
s

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    2
dtype: int64

In [ ]:
print(s.min(),end = end_string)
print(s.max(), end = end_string)

0
--------------------------------------------------
2
--------------------------------------------------

## Exercise (post-lecture)

- Consider the series `s` of letters in a sentence.
- What is count of each alphabetical letter in the sentence, output a series which is sorted by the count
- Create a list with only the top 5 common letters (not including space)  

HINT:   
1. `s.str.isalpha()` to check if a pd.series data is alphabetical  
2. `s.sort_values(ascending = False)` to sort value from largest to smallest

In [ ]:
s=pd.Series(list("Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the indexeeeeeee."))

In [ ]:
# # My Answer
# s_alpha = s[s.str.isalpha()]
# s_alpha.value_counts().sort_values(ascending = False)[:5]

# Basic Section (End)

# DataFrame
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df. 
- If you do not pass anything in, the input will be constructed by "common sense" rules

[**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

# DataFrame Creation From dict of series or dicts
- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be first converted to Series. 
- If no columns are passed, the columns will be the sorted list of dict keys.

In [ ]:
# Create a dictionary of series
# Columns are dictionary keys, indices and values obtained from series
a_series = pd.Series([1,2,3], index  = ['a', 'bb', 'c'])
b_series = pd.Series([0,1,2,3], index = ['a','b', 'c', 'd'])
a_series,b_series

(a     1
 bb    2
 c     3
 dtype: int64,
 a    0
 b    1
 c    2
 d    3
 dtype: int64)

In [ ]:
d = {'one': a_series, 
     'two': b_series}
df = pd.DataFrame(d)
# use NaN to fill in the missing value
# pandas convert all element to floating type
df

    one  two
a   1.0  0.0
b   NaN  1.0
bb  2.0  NaN
c   3.0  2.0
d   NaN  3.0

In [ ]:
# Slicing
print(pd.DataFrame(d, index = ['d', 'b', 'a'], columns = ['one']))
print(end_string)

# If we are extracting non-existing data, that would be NaN
print(pd.DataFrame(d, index = ['d', 'b', 'a', 'benson'], columns = ['two', 'benson']))


#Q: what's the problem of this slicing method?

   one
d  NaN
b  NaN
a  1.0

--------------------------------------------------

        two benson
d       3.0    NaN
b       1.0    NaN
a       0.0    NaN
benson  NaN    NaN

# From dict of ndarray / lists
- The ndarrays must all be the same length. 
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one' : [1., 2., 3., 4], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

# From a list of dicts

In [ ]:
data = []
for i in range(10):
    data += [ {'Column' + str(j):np.random.randint(100) for j in range(5)} ]
    # dictionary comprehension!
data

[{'Column0': 77, 'Column1': 90, 'Column2': 50, 'Column3': 5, 'Column4': 2},
 {'Column0': 91, 'Column1': 6, 'Column2': 75, 'Column3': 68, 'Column4': 41},
 {'Column0': 96, 'Column1': 65, 'Column2': 8, 'Column3': 88, 'Column4': 21},
 {'Column0': 89, 'Column1': 7, 'Column2': 16, 'Column3': 11, 'Column4': 15},
 {'Column0': 63, 'Column1': 38, 'Column2': 65, 'Column3': 66, 'Column4': 72},
 {'Column0': 41, 'Column1': 35, 'Column2': 62, 'Column3': 87, 'Column4': 96},
 {'Column0': 79, 'Column1': 45, 'Column2': 20, 'Column3': 96, 'Column4': 64},
 {'Column0': 95, 'Column1': 37, 'Column2': 5, 'Column3': 61, 'Column4': 12},
 {'Column0': 17, 'Column1': 49, 'Column2': 36, 'Column3': 98, 'Column4': 20},
 {'Column0': 66, 'Column1': 54, 'Column2': 86, 'Column3': 85, 'Column4': 84}]

In [ ]:
# Creation from a list of dicts
df = pd.DataFrame(data)
print(df)

   Column0  Column1  Column2  Column3  Column4
0       77       90       50        5        2
1       91        6       75       68       41
2       96       65        8       88       21
3       89        7       16       11       15
4       63       38       65       66       72
5       41       35       62       87       96
6       79       45       20       96       64
7       95       37        5       61       12
8       17       49       36       98       20
9       66       54       86       85       84

In [ ]:
# Only certain columns
df = pd.DataFrame(data, columns = ['Column0', 'Column1'])
df

   Column0  Column1
0       77       90
1       91        6
2       96       65
3       89        7
4       63       38
5       41       35
6       79       45
7       95       37
8       17       49
9       66       54

In [ ]:
df.head(3) #print the first few rows, default = 5

   Column0  Column1
0       77       90
1       91        6
2       96       65

## Attributes

- ``` df.index ``` : the row index of df
- ``` df.columns ``` : the columns of df
- ``` df.shape ``` : the shape of the df
- ``` df.values ``` : numpy array of values

In [ ]:
list(df.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
df.columns

Index(['Column0', 'Column1'], dtype='object')

In [ ]:
df.shape

(10, 2)

In [ ]:
df.values

array([[77, 90],
       [91,  6],
       [96, 65],
       [89,  7],
       [63, 38],
       [41, 35],
       [79, 45],
       [95, 37],
       [17, 49],
       [66, 54]])

In [ ]:
# Adding and accessing columns 
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(range(4), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3

In [ ]:
# math operation, like how we create data in the dictionary
df['three'] =  df['one']*df['two'] 
# Create a boolean flag column
df['flag'] = df['one'] > 2
# Create a const column
df['const'] = 'const_value'

df

   one  two  three   flag        const
a  1.0    0    0.0  False  const_value
b  2.0    1    2.0  False  const_value
c  3.0    2    6.0   True  const_value
d  NaN    3    NaN  False  const_value

In [ ]:
# inserting column in specified location index, with values
# insert at index 1, column named 'bar', with data df['two']
df.insert(2, 'bar', df['two'])
df

   one  two  bar  three   flag        const
a  1.0    0    0    0.0  False  const_value
b  2.0    1    1    2.0  False  const_value
c  3.0    2    2    6.0   True  const_value
d  NaN    3    3    NaN  False  const_value

In [ ]:
# Deleting Columns  .pop()
three = df.pop('three')
df

   one  two  bar   flag        const
a  1.0    0    0  False  const_value
b  2.0    1    1  False  const_value
c  3.0    2    2   True  const_value
d  NaN    3    3  False  const_value

In [ ]:
three

a    0.0
b    2.0
c    6.0
d    NaN
Name: three, dtype: float64

## Indexing and Selection 

- 3 methods ``` [],  iloc, loc ```

| Operation  | Syntax       | Result | 
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  | 
| Select rows by boolean | df[mask]   | DataFrame        |

- Note all the operations below are valid on series as well restricted to one dimension

## Selecting Cols form Of Indexing: []
- Series: selecting a label: s[label] 
- DataFrame: selection single or multiple columns: 
``` python 
df['col'] or df[['col1', 'col2']] ``` 
- DataFrame: slicing the rows:
``` python
df['rowlabel1': 'rowlabel2'] ``` 
or 
``` python 
df[boolean_mask] ```

In [ ]:
# Lets create a data frame
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

                   A         B         C         D
2000-01-01 -1.466756  1.519353 -0.575803  1.469730
2000-01-02  0.189819 -0.122092 -1.257573 -0.612559
...              ...       ...       ...       ...
2000-01-07  0.209271  2.056925  0.038888  0.551509
2000-01-08 -0.812933 -2.033202 -0.518987 -1.102912

[8 rows x 4 columns]

In [ ]:
# column  'A'
df['A']

2000-01-01   -1.466756
2000-01-02    0.189819
                ...
2000-01-07    0.209271
2000-01-08   -0.812933
Freq: D, Name: A, Length: 8, dtype: float64

In [ ]:
### You can also access a column by df.colname
df.A #same as df['A']

2000-01-01   -1.466756
2000-01-02    0.189819
                ...
2000-01-07    0.209271
2000-01-08   -0.812933
Freq: D, Name: A, Length: 8, dtype: float64

In [ ]:
# multiple column 
df[['A', 'B']]

                   A         B
2000-01-01 -1.466756  1.519353
2000-01-02  0.189819 -0.122092
...              ...       ...
2000-01-07  0.209271  2.056925
2000-01-08 -0.812933 -2.033202

[8 rows x 2 columns]

In [ ]:
df['A'] > df['B']

2000-01-01    False
2000-01-02     True
              ...
2000-01-07    False
2000-01-08     True
Freq: D, Length: 8, dtype: bool

In [ ]:
# boolean mask 
df[df['A'] > df['B']]

                   A         B         C         D
2000-01-02  0.189819 -0.122092 -1.257573 -0.612559
2000-01-03 -0.111724 -0.408381  0.045781  0.325309
...              ...       ...       ...       ...
2000-01-06  2.389091 -1.323993 -1.435500 -0.858867
2000-01-08 -0.812933 -2.033202 -0.518987 -1.102912

[5 rows x 4 columns]

## Selecting rows by label .loc (Recommend)

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label 
    2. A list of labels
    3. A boolean array

In [ ]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)

In [ ]:
df.head()

                   A         B         C         D
2000-01-01 -1.466756  1.519353 -0.575803  1.469730
2000-01-02  0.189819 -0.122092 -1.257573 -0.612559
2000-01-03 -0.111724 -0.408381  0.045781  0.325309
2000-01-04  0.629534  1.921845  0.781279  1.035165
2000-01-05 -0.475410 -1.024045  0.216347 -0.686437

In [ ]:
## Selection by label .loc
df.loc['2000-01-01']

A   -1.466756
B    1.519353
C   -0.575803
D    1.469730
Name: 2000-01-01 00:00:00, dtype: float64

In [ ]:
## Selection by label .loc
df.loc['2000-01-01', 'A']

-1.4667555533685814

In [ ]:
# similar to numpy slicing by using labels
df.loc['2000-01-01':'2000-01-03', 'A':'C']

                   A         B         C
2000-01-01 -1.466756  1.519353 -0.575803
2000-01-02  0.189819 -0.122092 -1.257573
2000-01-03 -0.111724 -0.408381  0.045781

In [ ]:
df

In [ ]:
df.loc['2000-01-01'] > 0

A    False
B     True
C    False
D     True
Name: 2000-01-01 00:00:00, dtype: bool

In [ ]:
# Get columns for which value is greater than 0 on certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0]

                   B         D
2000-01-01  1.519353  1.469730
2000-01-02 -0.122092 -0.612559
2000-01-03 -0.408381  0.325309
2000-01-04  1.921845  1.035165
2000-01-05 -1.024045 -0.686437
2000-01-06 -1.323993 -0.858867
2000-01-07  2.056925  0.551509
2000-01-08 -2.033202 -1.102912

## Selecting rows by position 

- The .iloc attribute is the primary access method. The following are valid input:
    - An integer
    - A list of integers
    - A slice 
    - A boolean array

In [ ]:
df1 = pd.DataFrame(np.random.randn(6,4), 
                   index=list(range(0,12,2)), columns=list(range(0,12,3)))

df1

           0         3         6         9
0  -0.096044  2.197642 -0.578580  0.010127
2  -0.008179  0.155105  1.164084  0.859479
4   1.102981  0.495462 -0.190813  1.750655
6   1.035070 -0.423161  0.123301 -0.900860
8  -0.638993  1.763701 -0.672239  0.654191
10  0.888762  0.984811  0.965508  1.331358

In [ ]:
# rows 0-2
df1.loc[[0,2,4]]

          0         3         6         9
0 -0.096044  2.197642 -0.578580  0.010127
2 -0.008179  0.155105  1.164084  0.859479
4  1.102981  0.495462 -0.190813  1.750655

In [ ]:
# rows 0-2
df1.iloc[:3]

          0         3         6         9
0 -0.096044  2.197642 -0.578580  0.010127
2 -0.008179  0.155105  1.164084  0.859479
4  1.102981  0.495462 -0.190813  1.750655

In [ ]:
df1

In [ ]:
#  rows 1:5  and columns 2 : 4
df1.iloc[1:5, 2:4]

          6         9
2  1.164084  0.859479
4 -0.190813  1.750655
6  0.123301 -0.900860
8 -0.672239  0.654191

In [ ]:
# select via integer list
df1.iloc[[1,3,5], [1,3]]

           3         9
2   0.155105  0.859479
6  -0.423161 -0.900860
10  0.984811  1.331358

In [ ]:
df1

           0         3         6         9
0  -0.096044  2.197642 -0.578580  0.010127
2  -0.008179  0.155105  1.164084  0.859479
4   1.102981  0.495462 -0.190813  1.750655
6   1.035070 -0.423161  0.123301 -0.900860
8  -0.638993  1.763701 -0.672239  0.654191
10  0.888762  0.984811  0.965508  1.331358

In [ ]:
df1.iloc[:, 1]

0     2.197642
2     0.155105
4     0.495462
6    -0.423161
8     1.763701
10    0.984811
Name: 3, dtype: float64

In [ ]:
# selecting via integer mask 
boolean_mask = df1.iloc[:, 1] > 0
print(boolean_mask.values)

df1.iloc[boolean_mask.values,:]

[ True  True  True False  True  True]

           0         3         6         9
0  -0.096044  2.197642 -0.578580  0.010127
2  -0.008179  0.155105  1.164084  0.859479
4   1.102981  0.495462 -0.190813  1.750655
8  -0.638993  1.763701 -0.672239  0.654191
10  0.888762  0.984811  0.965508  1.331358

### Exercise （post-lecture)

Given the dataframe, find the following
- Last two rows of columns A and D
- Last three rows such which statisfy that column A > Column B

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

In [ ]:
# # Answer 
#df[['A','D']].iloc[-2:]
#df.loc[df.A > df.B].iloc[-3:]

# Merging DataFrames

- Pandas has full-featured, very high performance, in memory join operations that are very similar to SQL and R 

- The documentation is https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

- Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects: 
``` python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True) ```

The sequence of operations in a basic call to `pd.merge()` is:

1. Check all columns in `left` and `right`. Let S be the set of columns which are present in both 
2. For every row of `left`, check if it has a corresponding row in `right` with the same values among the columns in S. 
3. If two matching rows are found, merge the rows together in the natural way.

The `how` parameter determines how Pandas will deal with the rows that don't match.

In [ ]:
# Example of merge
left = pd.DataFrame({'key': ['benson', 'nikki'], 'lval_uid': [10, 11]})
right = pd.DataFrame({'key': ['benson', 'leo'], 'rval_score': [60, 90]})

print("left: ",left,"right: ",right, sep=end_string)

left:
--------------------------------------------------
      key  lval_uid
0  benson        10
1   nikki        11
--------------------------------------------------
right:
--------------------------------------------------
      key  rval_score
0  benson          60
1     leo          90

In [ ]:
merged = pd.merge(left, right, on=['key'], how="inner")
print(merged) 
#inner ignores all rows in left which don't have a match in right (and vice versa)

      key  lval_uid  rval_score
0  benson        10          60

In [ ]:
merged = pd.merge(left, right, on=['key'], how="outer")
print(merged)
#outer keeps all rows which don't have a match, filling missing entries with NaN

      key  lval_uid  rval_score
0  benson      10.0        60.0
1   nikki      11.0         NaN
2     leo       NaN        90.0

In [ ]:
merged = pd.merge(left, right,  on=['key'], how="left")
print(merged)
#left keeps all rows in `left` if they don't have a match, but ignores rows in right if they don't match

      key  lval_uid  rval_score
0  benson        10        60.0
1   nikki        11         NaN

In [ ]:
merged = pd.merge(left, right,  on=['key'], how="right")
print(merged)
#right does the same thing as left but on the `right` df

      key  lval_uid  rval_score
0  benson      10.0          60
1     leo       NaN          90

`on_left` and `on_right` lets us merge based on columns which have different names in `left` and `right` (they need to be of the same type though)

## Execrise 
Take a guess what would be the output here, and run the cell to validate your guess.

In [ ]:
left = pd.DataFrame({'key': ['test', 'test'], 'lval': [4, 2]})
print(left, end = end_string)
right = pd.DataFrame({'key': ['test', 'test'], 'rval': [4, 5]})
print(right, end = end_string)
pd.merge(left,right, on = ['key'])
#gives all pairs of rows

## Function Application
 - Row or Column-wise Function Application: Applies function along input axis of DataFrame
```python 
df.apply(func, axis = 0) 
``` 
- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

In [ ]:
## APPLY EXAMPLES
df1 = pd.DataFrame(np.ones([6,4])*np.array([1,2,3,4]), index=list(range(0,12,2)), columns=list('abcd'))
df1

      a    b    c    d
0   1.0  2.0  3.0  4.0
2   1.0  2.0  3.0  4.0
4   1.0  2.0  3.0  4.0
6   1.0  2.0  3.0  4.0
8   1.0  2.0  3.0  4.0
10  1.0  2.0  3.0  4.0

In [ ]:
# Apply to each column
df1.apply(np.sum, axis = 0)

a     6.0
b    12.0
c    18.0
d    24.0
dtype: float64

In [ ]:
# Apply to each row
df1.apply(np.sum, axis = 1)

0     10.0
2     10.0
4     10.0
6     10.0
8     10.0
10    10.0
dtype: float64

### Side note: lambda(anonymous) functions

lambda functions allow you to specify a function without giving it a separate declaration.  For example, the function 
```python
lambda x: (x - x.mean())/x.std()
```
is equivalent to the function
```python
def normalize(x):
    return (x - x.mean())/x.std()
```
You'll often see lambda functions used in list comprehensions, or in methods (like `map()`, `apply()`, or `applymap()`) that take a function as input.

In [ ]:
df1

      a    b    c    d
0   1.0  2.0  3.0  4.0
2   1.0  2.0  3.0  4.0
4   1.0  2.0  3.0  4.0
6   1.0  2.0  3.0  4.0
8   1.0  2.0  3.0  4.0
10  1.0  2.0  3.0  4.0

In [ ]:
def add_sum(x):
    return x + x.sum()
df1.apply(add_sum, axis = 0)

      a     b     c     d
0   7.0  14.0  21.0  28.0
2   7.0  14.0  21.0  28.0
4   7.0  14.0  21.0  28.0
6   7.0  14.0  21.0  28.0
8   7.0  14.0  21.0  28.0
10  7.0  14.0  21.0  28.0

In [ ]:
# # Use lambda functions  to normalize columns
df1.apply(lambda x: x + x.sum(), axis = 0)

      a     b     c     d
0   7.0  14.0  21.0  28.0
2   7.0  14.0  21.0  28.0
4   7.0  14.0  21.0  28.0
6   7.0  14.0  21.0  28.0
8   7.0  14.0  21.0  28.0
10  7.0  14.0  21.0  28.0

## Execrise:
Say I wanted to find where the maximum dates occured for each column of the df. How can we do that?  
HINT: `.idxmax()` function for `pd.Series`

In [ ]:
## APPLY EXAMPLES CONT
# Create DF with 1000 rows and 3 columns filled with random entries
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'],
                    index=pd.date_range('1/1/2000', periods=1000))

tsdf

In [ ]:
# tsdf.apply(lambda x: x.idxmax())

# I/O Functions

- There are loads of input output features. The highlights most useful to you are likely:
    - ``` pd.read_csv ``` / ``` pd.to_csv ``` 
    - ``` pd.read_excel ``` / ``` pd.to_excel ```
    - ``` pd.read_sql ``` / ``` pd.to_sql ```
    - ``` pd.read_pickle ``` / ``` pd.to_pickle ```
Documentation:

* [Pandas Import-Output Functions](https://pandas.pydata.org/pandas-docs/stable/io.html)

### Loading data from CSV
Here are the first several lines of `iris.csv`:

```
sepal_length,sepal_width,petal_length,petal_width,name
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
```

In [ ]:
import pandas as pd
# Can use df.info to find out information about the df 
iris_data = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#iris_data = pd.read_csv('./data/iris.csv')
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# describe and stats summarize the dataframe
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## The split/apply combo (groupyby)
- pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names:
- Syntax:  
    - ``` groups = df.groupby(key) ```
    - ``` groups = df.groupby(key, axis = 1) ```
    - ``` groups = df.groupby([key1, key2], axis = 1) ```


- The group by concept is that we want to apply the same function on subsets of the dataframe, based on some key we use to split the DataFrame into subsets
- This idea is referred to as the "split-apply-combine" operation:
    - Split the data into groups based on some criteria
    - Apply a function to each group independently
    - Combine the results 

![image](https://i.stack.imgur.com/sgCn1.jpg)

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

  key  data
0   A     0
1   B     5
2   C    10
3   A     5
4   B    10
5   C    15
6   A    10
7   B    15
8   C    20

In [ ]:
g = df.groupby('key')
g

In [ ]:
g.agg(['min'])

In [ ]:
g.agg(['max','sum'])

In [ ]:
sums = df.groupby('key').agg(['min', 'max', 'sum'])
sums

    data
     min max sum
key
A      0  10  15
B      5  15  30
C     10  20  45

In [ ]:
customize = df.groupby('key').apply(lambda x: x.sum() + 0.1)
customize

     data
key
A    15.1
B    30.1
C    45.1

# Plotting data : [Chart visualization](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) (Optional)

- The plot method on Series and DataFrame is just a wrapper on matplotlib plt.plot()
- Many available plots:
    - ‘bar’ or ‘barh’ for bar plots
    - ‘hist’ for histogram
    - ‘box’ for boxplot
    - ‘kde’ or 'density' for density plots • ‘area’ for area plots
    - ‘scatter’ for scatter plots
    - ‘hexbin’ for hexagonal bin plots • ‘pie’ for pie plots
    
- There are several more complex plotting functions in pandas.tools.plotting that take a Series or DataFrame as an argument. These include:
    - Scatter matrices
    - Autocorrelation
    - Bootstrap Plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
iris_data

In [ ]:
iris_data.plot(); #plot all the numeric data

In [ ]:
## Quick example - Random walks
df = pd.DataFrame(np.random.randn(1000, 4), 
                  index =pd.date_range('1/1/2000', periods=1000), 
                  columns=list('ABCD'))
df = df.cumsum()
print(df)
df.plot()

In [ ]:
plt.figure()
df.iloc[5].plot(kind = 'bar')
plt.axhline(0, color = 'k')

In [ ]:
#data = pd.read_csv('./data/iris.csv')
ax = iris_data.groupby('species') \
         .get_group('setosa') \
         .boxplot(column=["sepal_length","sepal_width"], return_type='axes')