<a href="https://colab.research.google.com/github/oneway-net/scientific-python/blob/main/Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summary of today:
1. Intro to CME 193 ~3min
2. Python Foundations
* Variable 
* Operator
* Strings 
* Control Flow 
* Exception 
* Functions 
* Collections

# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:**  Benson Zu(zuyeyang@stanford.edu)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** I expect you to preview the basic section since CME 193 is a fast-pace course → I will try to teaching you as much as I could for each 50 min lecture. We will go over the 50 min workshop together with some post-lectue exercises. Those exericise are good chances to try out what you learn, and ask for help if you're stuck.  You aren't required to submit solutions to the exercises, and should focus on exercises you find most interesting if there are multiple options. 

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** 6pm ~ 8pm on Wednesdays Zoom

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. Python Class & Object
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be ok.

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
# print value of pi : I am a comment uasing hash mark
# The pi (π ) is a constant of the math library in Python that returns the value 3.14...
import math
print(math.pi)

# Basic Section (Start)

## Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [ ]:
x = 1
print(x)

1

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
x = 1.0
print(x)
print(type(x))

x = 'string' #same as 'string' #pound sign is for comments
print(x)
print(type(x))

1.0
<class 'float'>
string
<class 'str'>

## Basic Arithmetic

Math Operators:
`+ - * / // % **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
- False = 0, True = 1
    - C1 and C2 = min (C1, C2)
    - C1 or C2 = max(C1, C2)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [ ]:
# Dividing 0 is an error
4 / 2

2.0

In [ ]:
#The result of regular division is always a float
type(4/2)

float

In [ ]:
type(5.0//3) #Floor division =1.0

float

In [ ]:
type(5//3) #Floor division =1

int

In [ ]:
5%3 #Modulus

2

In [ ]:
4**3 #Exponentiation

64

In [ ]:
# == to check if the values match
x = 5.0
y = 5

x == y

True

In [ ]:
print(type(x), type(y))

<class 'float'> <class 'int'>

In [ ]:
str(x == y)

'True'

In [ ]:
x = 5.0
y = 5
print("x == y: " + str(x == y))
print("x is y: " + str(x is y))

#== checks for equality - if the two variables point at values are equal.
#is checks for identity - if the two variables point to the exact same object.

x == y: True
x is y: False

In [ ]:
s = "example"
answer = 'example'

print("s == 'example': " + str(s == answer))
print("s is 'example': " + str(s is answer))

s == 'example': True
s is 'example': True

In [ ]:
True or False # some other language use '&' for 'and', '|' for 'or', '!' for 'not': NOT IN PYTHON

True

In [ ]:
not True

False

In [ ]:
not 5 == 5.0 #equivalent to 5 != 5.0

False

## Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [ ]:
str1 = "Alice's numbers are 20 and 52, "
str2 = "and their sum is 72"
str3 = str1 + str2
str3

"Alice's numbers are 20 and 52, and their sum is 72"

String Formatting:

In [ ]:
# f-string

x = 1204
y = 52
name = "Alice's friends"

#f-string
str1 = f"{name}'s numbers are {x} and {y}, "
str2 = f"and their sum is {x + y}"
str3 = str1 + str2
str3

"Alice's friends's numbers are 1204 and 52, and their sum is 1256"

(Optional) Old School String Format

In [ ]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

In [ ]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

In [ ]:
str1 = str1.lower()
str1

In [ ]:
str1.replace?

In [ ]:
str1.replace('l', 'p')

## Control Flow

If statements:  
if decides whether certain statements need to be executed or not. It checks for a given condition
```python
if condition1:
  statements1
elif condition2:
  statements2
elif condition3:
  statements3
else:
  statements4
```

In [ ]:
x = 3
y = 2

if x == y:
    print("The value of x is the same as value of y")
elif x == 3:
    print("I am here")
    print("x is 3")
else:
    print("x is something else")

I am here
x is 3

**For loops**  

control flow statement for specifying iteration, which allows code to be executed repeatedly

In [ ]:
for i in range(4): # default - start at 0, increment by 1
    print(f"{i}, next loop")

0, next loop
1, next loop
2, next loop
3, next loop

In [ ]:
?range

In [ ]:
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

10
8
6
4

**while loops**

In [ ]:
# Find all positive integer whose square < 100
i = 1
while i**2 < 100:
    print(i)
    i += 1      #i += 1 is the same as i = i + 1
print("Finished")

1
2
3
4
5
6
7
8
9
Finished

**continue** - skip the rest of the loop

**break** - exit from the loop

In [ ]:
# distinguish even or odd number
for num in range(1, 10):
  
    if num % 2 == 0:
        print(f'Found {num}, an even number, Continue!')
        continue # this jumps us back to the top
        
    print(f"Found {num}, an odd number")

print('Finished')

Found 1, an odd number
Found 2, an even number, Continue!
Found 3, an odd number
Found 4, an even number, Continue!
Found 5, an odd number
Found 6, an even number, Continue!
Found 7, an odd number
Found 8, an even number, Continue!
Found 9, an odd number
Finished

In [ ]:
for num in range(1, 10):
    if num % 2 == 0: # if n divisible by x
        print(f'Found {num}, an even number, BREAK!')
        break
    print(f"Found {num}, an odd number")
print('Finished')

Found 1, an odd number
Found 2, an even number, BREAK!
Finished

In [ ]:
#continue/break statement only continue/breaks its direct parent loop statement
for i in range(3):
    print(f"Outer {i}") 
    for j in range(3):
      print(f"   Inner : {j}") 
      break
      print("End of inner loop")
    #jump to here after break

Outer 0
   Inner : 0
Outer 1
   Inner : 0
Outer 2
   Inner : 0

**pass** does nothing

In [ ]:
#The pass statement is used as a placeholder for future code!!
for num in range(7):
    if num == 5:
        #TODO: Add more code for the  case num = 5
        pass
    print(f'Iteration: {num}')

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6

# Basic Section (End)

# [Exceptions](https://docs.python.org/3/library/exceptions.html)

In [ ]:
print(100 / 0)

print(100 / 10)

ZeroDivisionError: ignored

In [ ]:
benson

NameError: ignored

In [ ]:
benson
print(100 / 0 )

NameError: ignored

In [ ]:
try:
    benson
    print(100 / 0 )
except ZeroDivisionError:
    print("Error: don't divided by zero")
except Exception as e:
    print(f"Error: {e}")

print(100/10)

Error: name 'benson' is not defined
10.0

# Functions

Functions are declared with the keyword `def`

In [ ]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    #here are operations
    #part of function
    #etc
    return 0.5 * base * height

triangle_area(-1, 2)

-1.0

In [ ]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(-1, 2)

ValueError: ignored

In [ ]:
def triangle_area(base, height):
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as e_value:
      print(f"Error, {e_value}, Try a different non-negative value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area(-1, 2)

Error, Base and height must be non-negative, Try a different non-negative value

In [ ]:
triangle_area('string', 2)

Error, '<' not supported between instances of 'str' and 'int'

In [ ]:
# add type hint
def triangle_area(base: int, height: int):
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area(1, 2)

1.0

In [ ]:
?triangle_area

In [ ]:
from typing import Union

def triangle_area(base: Union[int, float], height: Union[int, float]):
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")
triangle_area(-1, 2)

Error, Base and height must be non-negative, Try a different value

In [ ]:
?triangle_area

In [ ]:
?range

In [ ]:
from typing import Union

def triangle_area(base: Union[int, float], height: Union[int, float]):
    '''
    Description: Triangle_area is a function that calculate the area of an triangle shape
    Input: 
      - base: non-negative numeric input
      - height: non-negative numeric input
    Output:
      - area  = 1/2 * base * height
    '''
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area('string', 2)

Error, '<' not supported between instances of 'str' and 'int'

In [ ]:
?triangle_area

In [ ]:
def triangle_area(base, height):
    return 0.5 * base * height

triangle_area(1, 2)

(Post-Study: )
1. Function can have multiple outputs
2. Function input can also be a function
3. Function input can have default values

In [ ]:
# return multiple outputs
def simple(a,b):
    return a,b

simple(1,2)

In [ ]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x+2

def twice(g,x):
    return g(g(x))

twice(f,2) # + 4

In [ ]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = f(x)
    return x

n_apply(f, 1, 5) # 1 + 2*5

In [ ]:
def h(a, b, x=3,y=2):
    return a * x + b*y

In [ ]:
h(1,1,y=1) #equivalent to h(1,1,3,1)

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [ ]:
#YOUR CODE HERE

In [ ]:
# # answer for 3rd questions
# def fibonacci(n):
#     a, b = 0, 1
#     while a < n:
#         print(a)
#         a, b = b, a + b

# Lists

A list in Python is an ordered (and indexed) collection of objects

In [ ]:
# heterogeneous types
a = ['x', 1, 3.5]
print(a)
a[0]

['x', 1, 3.5]

'x'

You can iterate over lists in a very natural way

In [ ]:
for word in a:
    print(word)

x
overwritten
3.5

Python indexing starts at 0.

In [ ]:
# mutable
a[1] = "overwritten"
a

['x', 'overwritten', 3.5]

In [ ]:
#can even put functions and other lists inside of lists!
def f(x):
    return xf

b = [f, [1,2,2.1]]
print(b)

[<function f at 0x7f1e58c49f70>, [1, 2, 2.1]]

You can `append` method to `lists` class using `.append()` after a object, and do other operations, such as `pop()`, `insert()`, etc.

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

In [ ]:
?a.append

In [ ]:
a = []
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}")

Removed 9, a is now [0, 1, 2, 3, 4, 5, 6, 7, 8]
Removed 8, a is now [0, 1, 2, 3, 4, 5, 6, 7]
Removed 7, a is now [0, 1, 2, 3, 4, 5, 6]
Removed 6, a is now [0, 1, 2, 3, 4, 5]
Removed 5, a is now [0, 1, 2, 3, 4]
Removed 4, a is now [0, 1, 2, 3]
Removed 3, a is now [0, 1, 2]
Removed 2, a is now [0, 1]
Removed 1, a is now [0]
Removed 0, a is now []

 (Post-study): 
1. How to insert an element at a specific index of list
2. How to append all element in a list into another list

In [ ]:
# Insert a value at a specific index
a = [1,2,3]
a.insert(1,'new value')
print(a)

[1, 'new value', 2, 3]

In [ ]:
# Append all element inside a list into another list
a = [1,2,3]
b = ["x", "y"]
a.extend(b) #same as a+b
print(a)

In [ ]:
a+b

Lists in python are only implicitly collections of the objects that constitute them. Setting one array equal to another can lead to unexpected results:

In [ ]:
a = [1, 2, 3]
b = a.copy() # shallow
# b = a 
print(f"original a:, {a}")
print(f"original b:, {b}")
b[0] = "edited"
print("after edit...")
print(f"a:, {a}")
print(f"b:, {b}")

original a:, [1, 2, 3]
original b:, [1, 2, 3]
after edit...
a:, [1, 2, 3]
b:, ['edited', 2, 3]

In [ ]:
a.copy?

A list only stores some pointers to locations in your computer's memory: when we wrote `b = a` Python created a new list `b` which shares its entries with `a`. 

The function `.copy()` will create a completely distinct copy with new objects.

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ x^2 ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [ ]:
S= []
for x in range(21):
    if x % 3 == 0:
        S.append(x**2)
S

[0, 9, 36, 81, 144, 225, 324]

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

In [ ]:
S = [x**2 for x in range(21) if x % 3 == 0]
S

[0, 9, 36, 81, 144, 225, 324]

(Self-study)Try yourself with nested for loop~

In [ ]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            if (i + j + k)%2 == 0:
                S += [(i,j,k)]

S

In [ ]:
# you aren't restricted to a single for loop
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2) if (i + j + k)%2 == 0]
S

In [ ]:
# you aren't restricted to a single if statement
['yes' if v == 1 else 'no' if v == 2 else 'idle' for v in S]

# Other Collections

We've seen the `list` class, which is ordered/indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered/indexed, and immutable
* `set` which is unordered/unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), paired, which is unordered/unindexed, and mutable, with no duplicate keys.

In [ ]:
a_tuple = (1, 2, 4)
print(a_tuple)
a_tuple[0] = 3

(1, 2, 4)

TypeError: ignored

In [ ]:
a_set = {5, 3, 2, 5}
print(a_set)
print(a_set[0])

{2, 3, 5}

TypeError: ignored

In [ ]:
a_set.add(6) #you can also add all element in a list by using .update()
print(f"After adding 6,   a_set:{a_set}")
a_set.remove(6) #you can also add all element in a list by using minues operator
print(f"After removing 6, a_set:{a_set}")

After adding 6,   a_set:{2, 3, 5, 6}
After removing 6, a_set:{2, 3, 5}

In [ ]:
a_dict = {} # {key0: value0, key1: value1}
a_dict[2] = 12 # dict[key] = value
a_dict["key_2"] = 'str'
a_dict["key_3"] = [13, "value"]
a_dict

{2: 12, 'key_2': 'str', 'key_3': [13, 'value']}

In [ ]:
print(a_dict[2])
print(a_dict.get(2))

In [ ]:
a_dict_copy = {2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}
a_dict_copy

(Optional) More Advanced Collections in Python
* [`OrderedDict`](https://docs.python.org/3/library/collections.html#ordereddict-objects) Dict ordered by keys
* [`deque`](https://docs.python.org/3/library/collections.html#deque-objects): double-ended queue (generalization of stack and queue)
* [`heapq`](https://docs.python.org/3/library/heapq.html) Priority Queue

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python 
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.